.cabecalho{
    
    background-color: skyblue;
    height: 5rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    
}






.h1{

    font-family:'rampart';
    display: flex;
    flex-direction: column;
    
}

